  header{
    background-image: url(./pexels\ 1.jpg);
    height: 800px;
    width: 100%;
    margin-top: -20px;
}
nav ul li a{
    color: blue;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    width: 300px;

}

nav ul li{
    list-style-type: none;
    float: left;
    margin-left: 30px;
    margin-top: 50px;
}
ul{
    padding-left: 350px;
}
header p{
    text-align: center;
    font-size: 90px;
    color: black;
}
header .p1{
    margin-top: -120px;
}
header .p2{
    font-size: 20px;
    margin-top: -70;
}